.recipes-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 5px solid #ccc; /* Add a left border */
}

.recipe h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  text-align: left;
}

.recipe h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
  text-align: left;
}

.recipe ul,
.recipe ol {
  margin-left: 20px;
  text-align: left;
  color: #444;
}

.recipe p {
  margin-bottom: 20px;
  color: #666;
  text-align: left;
}
